* text=auto eol=lf

# Not part of the package archive installed by Composer. The data and the sources are.
/.github       export-ignore
/tests         export-ignore
/scripts       export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore    export-ignore
/Makefile      export-ignore
/phpstan.neon  export-ignore
/phpstan-common.neon export-ignore
/phpunit.xml   export-ignore
/phpunit.laravel.xml export-ignore
/phpstan-laravel.neon export-ignore
/phpunit.symfony.xml export-ignore
/phpstan-symfony.neon export-ignore
/pint.json     export-ignore
