parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: true
