parameters:
    level: max
    paths:
        - src/Core
        - tests/Core
        - tests/Support
    tmpDir: build/phpstan
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: true
